.container0 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container1 {
    max-width: 590px;
    padding: 50px;
    background-color:#F8F8F8;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 12px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 10px 10px 7px;
    text-transform: uppercase;
    margin-bottom: 182px;
}
.title-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 40px;
    max-width: 295px;
    left: 175px;
    border-radius: 24px;
    background-color: var(--color-yellow);
    cursor: pointer;
    border: none;
}
.hero {
    display: flex;
    justify-content: end;
    align-items: end;
}
.hero__swiper {
    border-radius: 12px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
}
.wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}
i.button:active {
    transform: scale(0.94) translateY(-50%);
}
i#next:hover {
    box-shadow: 0px 0px 15px var(--color-yellow);
}
i#prev {
    left: 5px;
    background: var(--color-yellow);
    color: var(--color-black);
}
i#next {
    right: 5px;
    background: var(--color-yellow);
    color: var(--color-black);
}
.image-container {
    height: 32rem;
    max-width: 35rem;
    width: 100%;
    overflow: hidden;
}
.image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
.carousel img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}